.hello{
    color:red;
}

.article{
    padding: 20px;
}

.icon_button{
    padding: 10,
}

.company_name{
    color: white;
    background-color: #3f51b5;
    text-decoration: none;
    padding: 0px 10px;
    border-radius: 10px;
}

.company_name:hover{
    background-color: #5264cc;
}

.table_head{
    cursor: pointer;
}

.icon_order{
    font-size:14px !important;
}